.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    width: 120%;
    padding: 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #02aa4d;
}

.col-2 h2 {
    color: #09a7b3;
    font-size: 20px;
}

.col-2 p {
    color: #000000;
    font-size: 12px;
}

span {
    color: #009dff;
}

.btn {
    display: inline-block;
    background: #02aa4d;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 10px 10px 20px #00000040;
    transition: .5s;
    color: #f0f0f0;
}

.header .row {
    margin-top: 12%;
}