


small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img {
    width: 100%;
    
}



.cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-4 {
    flex: 1;
    max-width: 300px;
    margin: 18px;
}

.card {
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #f1f1f1;
    transition: all .10s;
}


@media (max-width: 785px) {
    .card {
        margin-bottom: 20px;
    }
}

.content {
    text-align: left;
}

.btn2 {
    text-align: center;
    display: flex;
}

.btn2 {
    display: inline-block;
    background: #c543c1;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 15px;
}





.card h2 {
    font-size: 15px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: .5s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

