
.header2 {
    margin: 0 310px;
}

.row2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.col-3 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-3 img {
    margin-left: 40%;
    width: 80%;
}

.col-3 h3 {
    font-size: 30px;
}

.col-3 h2 {
    color: #09a7b3;
    font-size: 20px;
}

.col-3 p {
    color: #000000;
    font-size: 12px;
}

.btn-header {
    display: inline-block;
    background: #02aa4d;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}

.btn-header:hover {
    background: #456cb8;
    box-shadow: 10px 10px 20px #00000040;
    transition: .5s;
    color: #f0f0f0;
}

@media (max-width: 750px) {
    .header2 {
        display: none;
    }
}